.main-footer {
  color: white;
  background-color: #91e6fc;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}
* {
  color: black;
}
.container {
  background-color: red;
  width: 100%;
  float: left;
}
.image {
  float: left;
  margin-right: 5px;
  height: auto;
}

.image img {
  height: 100%;
  width: 50%;
  padding: 10px;
}

.text {
  float: right;
  margin-right: 5px;
}
